Repository AET-DevOps25/team-404-name-not-found, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kristi-balla, @Marcel510, @kunzef

.github/CODEOWNERS:

* @kristi-balla @Marcel510 @kunzef

/.github/ @kristi-balla
/server/ @kristi-balla
/client/ @Marcel510
/genai/ @kunzef
/infra/ @kristi-balla

feat(client): Render markdown in RecipeDetailModal
  client/package-lock.json
  client/package.json
  client/src/components/recipes/RecipeDetailModal.tsx
Owners: @Marcel510

feat(client): add loading spinner to RecipeSidebar during recipe generation
  client/src/components/recipes/RecipeSidebar.tsx
  client/src/components/recipes/RecipesLoadingSpinner.tsx
  client/src/pages/Dashboard.tsx
Owners: @Marcel510

feat(client): dynamic availability scores for ingredients and recipes
  client/package-lock.json
  client/package.json
  client/src/api/services/recipesService.ts
  client/src/components/ingredients/IngredientGrid.tsx
  client/src/components/recipes/RecipeDetailModal.tsx
  client/src/components/recipes/RecipeSidebar.tsx
  client/src/components/recipes/RecipesLoadingSpinner.tsx
  client/src/dummyRecipes.ts
  client/src/pages/Dashboard.tsx
  client/src/types/availabilityScore.ts
  client/src/types/ingredientTypes.ts
  client/src/types/recipeTypes.ts
  client/src/utils/calculateAvailability.ts
Owners: @Marcel510

chore(docs): add description of ci/cd
  .gitignore
  README.md
  docs/img/main_ci.png
Owners: @kristi-balla, @Marcel510, @kunzef

fix(spelling): add new project words
  README.md
  project-words.txt
Owners: @kristi-balla, @Marcel510, @kunzef

feat(client): save recipes
  client/src/components/recipes/RecipeDetailModal.tsx
  client/src/pages/Dashboard.tsx
Owners: @Marcel510

[genai] Change Prometheus to prometheus
  infra/fridge/genai.json
Owners: @kristi-balla

[genai] Add genai to local grafana
  compose.yml
Owners: @kristi-balla, @Marcel510, @kunzef

refactor(client): cleanup
  client/src/dummyRecipes.ts
  client/src/pages/Dashboard.tsx
Owners: @Marcel510

fix(client): fix initial fetch order
  client/src/pages/Dashboard.tsx
Owners: @Marcel510

chore(client): lint
  client/README.md
  client/src/components/ui/separator.tsx
Owners: @Marcel510

feat(client): improve recipe saving, allow recipe saving from sidebar directly
  client/eslint.config.js
  client/src/components/login/GithubLoginButton.tsx
  client/src/components/recipes/LucideBookmarkFilled.tsx
  client/src/components/recipes/RecipeDetailModal.tsx
  client/src/components/recipes/RecipeSidebar.tsx
  client/src/context/AuthContext.tsx
  client/src/hooks/useHoveredElementId.ts
  client/src/pages/Dashboard.tsx
Owners: @Marcel510

feat(client): show ingredient delete button after removing another ingredient
  client/src/components/ingredients/IngredientGrid.tsx
  client/src/pages/Dashboard.tsx
Owners: @Marcel510

chore(client): cleanup
  client/src/components/recipes/LucideBookmarkFilled.tsx
  client/src/components/recipes/RecipeDetailModal.tsx
  client/src/pages/Dashboard.tsx
Owners: @Marcel510

feat(client): add settings
  client/package-lock.json
  client/package.json
  client/src/components/recipes/RecipeSettingsModal.tsx
  client/src/components/ui/toaster.tsx
  client/src/hooks/useToast.ts
  client/src/pages/Dashboard.tsx
  client/src/pages/LoginScreen.tsx
  client/src/utils/settings.ts
Owners: @Marcel510

chore(client): SPELLCHECK
  project-words.txt
Owners: @kristi-balla, @Marcel510, @kunzef

chore(client): deploy k8s
  infra/fridge/values.yaml
Owners: @kristi-balla

chore(client): Apply copilot suggestion
  client/src/api/services/recipesService.ts
Owners: @Marcel510

[genai] Add genai to local grafana and reset to old structure
  compose.yml
Owners: @kristi-balla, @Marcel510, @kunzef

fix(nginx): increase timeout to allow for long running requests
  infra/nginx/default.conf
Owners: @kristi-balla

Client - generate and save recipes (#66)
  client/README.md
  client/eslint.config.js
  client/package-lock.json
  client/package.json
  client/src/api/recipes.ts
  client/src/api/services/recipesService.ts
  client/src/components/ingredients/IngredientGrid.tsx
  client/src/components/login/GithubLoginButton.tsx
  client/src/components/recipes/.gitkeep
  client/src/components/recipes/LucideBookmarkFilled.tsx
  client/src/components/recipes/RecipeDetailModal.tsx
  client/src/components/recipes/RecipeSettingsModal.tsx
  client/src/components/recipes/RecipeSidebar.tsx
  client/src/components/recipes/RecipesLoadingSpinner.tsx
  client/src/components/ui/separator.tsx
  client/src/components/ui/toaster.tsx
  client/src/context/AuthContext.tsx
  client/src/hooks/useHoveredElementId.ts
  client/src/hooks/useToast.ts
  client/src/pages/Dashboard.tsx
  client/src/pages/LoginScreen.tsx
  client/src/types/availabilityScore.ts
  client/src/types/ingredientTypes.ts
  client/src/types/recipeTypes.ts
  client/src/utils/calculateAvailability.ts
  client/src/utils/settings.ts
  infra/fridge/values.yaml
  infra/nginx/default.conf
  project-words.txt
Owners: @Marcel510, @kristi-balla, @kunzef

refactor(client): refactor ingredient/recipe types
  client/src/api/services/ingredientsService.ts
  client/src/api/services/recipesService.ts
  client/src/assets/react.svg
  client/src/components/ingredients/AddIngredientModal.tsx
  client/src/components/ingredients/EditIngredientModal.tsx
  client/src/components/ingredients/IngredientGrid.tsx
  client/src/components/recipes/RecipeDetailModal.tsx
  client/src/components/recipes/RecipeSidebar.tsx
  client/src/pages/Dashboard.tsx
  client/src/types/ingredientTypes.ts
  client/src/types/recipeTypes.ts
  client/src/utils/calculateAvailability.ts
Owners: @Marcel510

refactor: remove unused imports
  server/recipes/src/main/java/com/devops/controllers/RecipeController.java
Owners: @kristi-balla

feat(recipes): enable rag from recipes
  server/recipes/src/main/java/com/devops/controllers/RecipeController.java
  server/recipes/src/main/java/com/devops/entities/AiSearchRequest.java
  server/recipes/src/main/java/com/devops/services/RecipeService.java
Owners: @kristi-balla

chore(tests): add basic tests for new rag feature
  server/recipes/src/main/java/com/devops/entities/AiRecipeDTO.java
  server/recipes/src/main/java/com/devops/entities/RecipeResponseDTO.java
  server/recipes/src/main/java/com/devops/services/RecipeService.java
  server/recipes/src/test/java/com/devops/controllers/RecipeControllerTest.java
Owners: @kristi-balla

chore(reipces): update openapi.json
  server/recipes/openapi.json
  server/recipes/src/test/java/com/devops/controllers/RecipeControllerTest.java
Owners: @kristi-balla

feat(client): enhance recipe detail modal with ingredient matching and shopping list features
  client/package-lock.json
  client/package.json
  client/src/components/ingredients/IngredientGrid.tsx
  client/src/components/recipes/IconButtonWithTooltip.tsx
  client/src/components/recipes/LucideScrollTextFilled.tsx
  client/src/components/recipes/RecipeDetailModal.tsx
  client/src/pages/Dashboard.tsx
  client/src/types/ingredientTypes.ts
  client/src/utils/ingredientMatching.ts
Owners: @Marcel510

fix(client): recipe detail modal scrolling
  client/src/components/recipes/RecipeDetailModal.tsx
Owners: @Marcel510

deploy
  infra/fridge/values.yaml
Owners: @kristi-balla

fix(client): fix tooltip showing when opening component
  client/src/components/recipes/IconButtonWithTooltip.tsx
Owners: @Marcel510

Add recipe "cooking" features (#68)
  client/package-lock.json
  client/package.json
  client/src/api/services/ingredientsService.ts
  client/src/api/services/recipesService.ts
  client/src/assets/react.svg
  client/src/components/ingredients/AddIngredientModal.tsx
  client/src/components/ingredients/EditIngredientModal.tsx
  client/src/components/ingredients/IngredientGrid.tsx
  client/src/components/recipes/IconButtonWithTooltip.tsx
  client/src/components/recipes/LucideScrollTextFilled.tsx
  client/src/components/recipes/RecipeDetailModal.tsx
  client/src/components/recipes/RecipeSidebar.tsx
  client/src/pages/Dashboard.tsx
  client/src/types/ingredientTypes.ts
  client/src/types/recipeTypes.ts
  client/src/utils/ingredientMatching.ts
  infra/fridge/values.yaml
Owners: @Marcel510, @kristi-balla

feat(ingredients): add ingredient selection and recipe generation based on selected ingredients
  client/src/components/ingredients/IngredientGrid.tsx
  client/src/components/recipes/RecipeSidebar.tsx
  client/src/pages/Dashboard.tsx
  client/src/pages/OAuthCallback.tsx
Owners: @Marcel510

feat(ingredients): adjust floating buttons
  client/src/components/recipes/FloatingRecipeGenerationButtons.tsx
  client/src/pages/Dashboard.tsx
Owners: @Marcel510

feat(client): improve styling a bit
  client/index.html
  client/src/components/ingredients/IngredientGrid.tsx
Owners: @Marcel510

deploy
  infra/fridge/values.yaml
Owners: @kristi-balla

Select ingredients (#69)
  client/index.html
  client/src/components/ingredients/IngredientGrid.tsx
  client/src/components/recipes/FloatingRecipeGenerationButtons.tsx
  client/src/components/recipes/RecipeSidebar.tsx
  client/src/pages/Dashboard.tsx
  client/src/pages/OAuthCallback.tsx
  infra/fridge/values.yaml
Owners: @Marcel510, @kristi-balla

[genai] Rag init
  genai/app/models/SearchRequest.py
  genai/app/services/rag_service.py
  genai/app/services/recipe_service.py
  genai/requirements.txt
  genai/tests/__init__.py
  genai/tests/test_recipe_service.py
Owners: @kunzef

[genai] Add fixes
  .github/workflows/minikube.yml
  compose.yml
  infra/fridge/genai.json
Owners: @kristi-balla, @Marcel510, @kunzef

[genai] Add fixes
  infra/fridge/values.yaml
Owners: @kristi-balla

feat(server): add endpoint to analyze fridge image and only return identified ingredients
  server/images/openapi.json
  server/images/src/main/java/com/devops/controller/ImagesController.java
  server/images/src/main/java/com/devops/service/ImagesService.java
Owners: @kristi-balla
