Repository AET-DevOps25/team-404-name-not-found, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kristi-balla, @Marcel510, @kunzef

.github/CODEOWNERS:

* @kristi-balla @Marcel510 @kunzef

/.github/ @kristi-balla
/server/ @kristi-balla
/client/ @Marcel510
/genai/ @kunzef
/infra/ @kristi-balla

:technologist: add support for arm platforms
  docker-bake.hcl
Owners: @kristi-balla, @Marcel510, @kunzef

docs: wrap up todos
  README.md
Owners: @kristi-balla, @Marcel510, @kunzef

Feature rag (#73)
  compose.yml
  genai/app/main.py
  genai/app/models/recipe.py
  genai/app/models/search_request.py
  genai/app/services/rag_service.py
  genai/app/services/recipe_service.py
  genai/requirements.txt
  genai/tests/__init__.py
  genai/tests/test_recipe_service.py
  infra/fridge/templates/deployments/embeddings.yml
  infra/fridge/templates/deployments/genai.yml
  infra/fridge/templates/deployments/pgvector.yml
  infra/fridge/templates/pvc/pgvector.yml
  infra/fridge/templates/services/embeddings.yml
  infra/fridge/templates/services/pgvector.yml
  infra/fridge/values.yaml
  infra/scripts/windows_generate_key_and_cert.sh
Owners: @kristi-balla, @Marcel510, @kunzef

deploy
  infra/fridge/values.yaml
Owners: @kristi-balla

feat(client): add recipe search bar to dashboard
  client/src/api/services/recipesService.ts
  client/src/components/ingredients/IngredientGrid.tsx
  client/src/components/recipes/AvailabilityBadge.tsx
  client/src/components/recipes/RecipeSearch.tsx
  client/src/components/recipes/RecipeSidebar.tsx
  client/src/pages/Dashboard.tsx
Owners: @Marcel510

feat(client): regenerate openapi
  client/src/api/recipes.ts
Owners: @Marcel510

feat(client): add searchRecipes to recipeService
  client/src/api/services/recipesService.ts
Owners: @Marcel510

Add search bar to client (#76)
  client/src/api/recipes.ts
  client/src/api/services/recipesService.ts
  client/src/components/ingredients/IngredientGrid.tsx
  client/src/components/recipes/AvailabilityBadge.tsx
  client/src/components/recipes/RecipeSearch.tsx
  client/src/components/recipes/RecipeSidebar.tsx
  client/src/pages/Dashboard.tsx
  infra/fridge/values.yaml
Owners: @Marcel510, @kristi-balla

chore(client): cleanup
  client/README.md
  client/src/components/recipes/RecipeSearch.tsx
  client/src/components/recipes/RecipeSidebar.tsx
  client/src/context/AuthContext.tsx
  client/src/pages/Dashboard.tsx
  client/src/pages/LoginScreen.tsx
  client/src/utils/settings.ts
  fruit-and-veg-in-a-fridge.png
Owners: @Marcel510, @kristi-balla, @kunzef

docs(client): improve readme
  client/README.md
Owners: @Marcel510

feat(client): test setup
  client/README.md
  client/package-lock.json
  client/package.json
  client/src/setupTests.ts
  client/vite.config.ts
Owners: @Marcel510

add tests
  client/README.md
  client/package.json
  client/src/api/services/authService.test.ts
  client/src/api/services/imagesService.test.ts
  client/src/api/services/ingredientsService.test.ts
  client/src/api/services/recipesService.test.ts
  client/src/components/PrivateRoute.test.tsx
  client/src/components/images/ScanImageModal.test.tsx
  client/src/components/ingredients/AddIngredientModal.test.tsx
  client/src/components/ingredients/EditIngredientModal.test.tsx
  client/src/components/ingredients/IngredientGrid.test.tsx
  client/src/components/recipes/RecipeSearch.test.tsx
  client/src/components/recipes/RecipeSettingsModal.test.tsx
  client/src/components/recipes/RecipeSidebar.test.tsx
  client/src/pages/OAuthCallback.test.tsx
  client/src/utils/authToken.test.ts
  client/src/utils/ingredientMatching.test.ts
  client/src/utils/settings.test.ts
Owners: @Marcel510

run tests in ci
  .github/workflows/typescript.yml
Owners: @kristi-balla

set plattform amd64 in compose for the poor arm users
  compose.yml
Owners: @kristi-balla, @Marcel510, @kunzef

[genai] Add tests to pipeline
  .github/workflows/ci.yml
  .github/workflows/genai-tests.yml
Owners: @kristi-balla

[genai] Trigger test run
  genai/app/main.py
Owners: @kunzef

[genai] Set correct test dir
  .github/workflows/genai-tests.yml
Owners: @kristi-balla

[genai] Correct requirements folder
  .github/workflows/genai-tests.yml
Owners: @kristi-balla

[genai] Adapt tests for rag service
  genai/tests/test_recipe_service.py
Owners: @kunzef

[genai] Adapt tests
  genai/requirements.txt
  genai/tests/test_recipe_service.py
Owners: @kunzef

[genai] Remove coverage upload
  .github/workflows/genai-tests.yml
Owners: @kristi-balla

[genai] Adjust coverage report location
  .github/workflows/genai-tests.yml
Owners: @kristi-balla

[genai] Adjust coverage report location
  .github/workflows/genai-tests.yml
Owners: @kristi-balla

[genai] Adjust coverage report location
  .github/workflows/genai-tests.yml
Owners: @kristi-balla

[genai] Adjust coverage report location
  .github/workflows/genai-tests.yml
Owners: @kristi-balla

[genai] Adjust coverage report location
  .github/workflows/genai-tests.yml
Owners: @kristi-balla

[genai] Adjust coverage report location
  .github/workflows/genai-tests.yml
Owners: @kristi-balla

[genai] Adjust coverage report location
  .github/workflows/genai-tests.yml
Owners: @kristi-balla

[genai] Dont add coverage
  .github/workflows/genai-tests.yml
Owners: @kristi-balla

[genai] Remove trigger
  genai/app/main.py
Owners: @kunzef

🐧 chore(compose): set plattform amd64 in compose (#78)
  compose.yml
Owners: @kristi-balla, @Marcel510, @kunzef

:white_check_mark: chore(genai): Add tests to pipeline (#79)
  .github/workflows/ci.yml
  .github/workflows/genai-tests.yml
  genai/requirements.txt
  genai/tests/test_recipe_service.py
Owners: @kristi-balla, @kunzef

:white_check_mark: chore(client): cleanup, readme, tests (#77)
  .github/workflows/typescript.yml
  client/README.md
  client/package-lock.json
  client/package.json
  client/src/api/services/authService.test.ts
  client/src/api/services/imagesService.test.ts
  client/src/api/services/ingredientsService.test.ts
  client/src/api/services/recipesService.test.ts
  client/src/components/PrivateRoute.test.tsx
  client/src/components/images/ScanImageModal.test.tsx
  client/src/components/ingredients/AddIngredientModal.test.tsx
  client/src/components/ingredients/EditIngredientModal.test.tsx
  client/src/components/ingredients/IngredientGrid.test.tsx
  client/src/components/recipes/RecipeSearch.test.tsx
  client/src/components/recipes/RecipeSearch.tsx
  client/src/components/recipes/RecipeSettingsModal.test.tsx
  client/src/components/recipes/RecipeSidebar.test.tsx
  client/src/components/recipes/RecipeSidebar.tsx
  client/src/context/AuthContext.tsx
  client/src/pages/Dashboard.tsx
  client/src/pages/LoginScreen.tsx
  client/src/pages/OAuthCallback.test.tsx
  client/src/setupTests.ts
  client/src/utils/authToken.test.ts
  client/src/utils/ingredientMatching.test.ts
  client/src/utils/settings.test.ts
  client/src/utils/settings.ts
  client/vite.config.ts
  fruit-and-veg-in-a-fridge.png
Owners: @kristi-balla, @Marcel510, @kunzef

chore(docs): fix spelling
  README.md
  project-words.txt
Owners: @kristi-balla, @Marcel510, @kunzef

fix(docs): reference correct uml
  README.md
Owners: @kristi-balla, @Marcel510, @kunzef

docs(client): improve client documentation
  README.md
  client/README.md
Owners: @kristi-balla, @Marcel510, @kunzef

docs: update UML diagram references for clarity
  README.md
Owners: @kristi-balla, @Marcel510, @kunzef

docs: replace frontend/backend with client/server
  README.md
  client/README.md
  docs/api_outline.md
  docs/meeting_results/fridge.md
Owners: @kristi-balla, @Marcel510, @kunzef
