Repository AET-DevOps25/team-404-name-not-found, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kristi-balla, @Marcel510, @kunzef

.github/CODEOWNERS:

* @kristi-balla @Marcel510 @kunzef

/.github/ @kristi-balla
/server/ @kristi-balla
/client/ @Marcel510
/genai/ @kunzef
/infra/ @kristi-balla

feat(client): regenerate openapi ts client
  client/src/api/images.ts
Owners: @Marcel510

feat(server): fix multipart endpoints
  server/images/openapi.json
  server/images/src/main/java/com/devops/controller/ImagesController.java
Owners: @kristi-balla

deploy
  infra/fridge/values.yaml
Owners: @kristi-balla

feat(client): add ScanImageModal and allow scanning
  client/src/components/images/ScanImageModal.tsx
  client/src/hooks/useIsMobile.ts
  client/src/pages/Dashboard.tsx
Owners: @Marcel510

feat(client): regenerate openapi ts client
  client/src/api/images.ts
Owners: @Marcel510

feat(client): add image service
  client/src/api/services/imagesService.ts
  client/src/api/services/recipesService.ts
Owners: @Marcel510

:sparkles: :zap: feat: enable rag search (#67)
  server/recipes/openapi.json
  server/recipes/src/main/java/com/devops/controllers/RecipeController.java
  server/recipes/src/main/java/com/devops/entities/AiRecipeDTO.java
  server/recipes/src/main/java/com/devops/entities/AiSearchRequest.java
  server/recipes/src/main/java/com/devops/services/RecipeService.java
  server/recipes/src/test/java/com/devops/controllers/RecipeControllerTest.java
Owners: @kristi-balla

[genai] Add windows based script
  infra/scripts/windows_generate_key_and_cert.sh
Owners: @kristi-balla

Scan Image! (#70)
  client/src/api/images.ts
  client/src/api/services/imagesService.ts
  client/src/api/services/recipesService.ts
  client/src/components/images/ScanImageModal.tsx
  client/src/hooks/useIsMobile.ts
  client/src/pages/Dashboard.tsx
  infra/fridge/values.yaml
  server/images/openapi.json
  server/images/src/main/java/com/devops/controller/ImagesController.java
  server/images/src/main/java/com/devops/service/ImagesService.java
Owners: @Marcel510, @kristi-balla

[genai] Rag setup
  genai/app/main.py
  genai/app/models/search_request.py
  genai/app/services/rag_service.py
  genai/app/services/recipe_service.py
  genai/requirements.txt
Owners: @kunzef

[genai] Improve rag
  genai/app/models/recipe.py
  genai/app/services/rag_service.py
Owners: @kunzef

[genai] Adapt rag limit
  genai/app/services/rag_service.py
  genai/app/services/recipe_service.py
Owners: @kunzef

[genai] Runs local
  genai/app/services/rag_service.py
  genai/requirements.txt
Owners: @kunzef

[genai] Runs local
  compose.yml
Owners: @kristi-balla, @Marcel510, @kunzef

[genai] Add pgvector service
  infra/fridge/templates/services/pgvector.yml
Owners: @kristi-balla

[genai] Add pgvector deployment
  compose.yml
  infra/fridge/templates/deployments/pgvector.yml
  infra/fridge/values.yaml
Owners: @kristi-balla, @Marcel510, @kunzef

[genai] Add pgvector pvc
  infra/fridge/templates/pvc/pgvector.yml
Owners: @kristi-balla

[genai] Add embeddings
  infra/fridge/templates/deployments/embeddings.yml
  infra/fridge/templates/deployments/genai.yml
  infra/fridge/templates/services/embeddings.yml
  infra/fridge/values.yaml
Owners: @kristi-balla

[genai] Switch branch
  infra/fridge/values.yaml
Owners: @kristi-balla

[genai] Change to pgvector-data
  compose.yml
  infra/fridge/templates/deployments/pgvector.yml
  infra/fridge/templates/pvc/pgvector.yml
Owners: @kristi-balla, @Marcel510, @kunzef

[genai] Change to pgvector_data in compose
  compose.yml
Owners: @kristi-balla, @Marcel510, @kunzef

[genai] Add port to healthcheck
  compose.yml
  infra/fridge/templates/deployments/pgvector.yml
Owners: @kristi-balla, @Marcel510, @kunzef

[genai] Arch image
  compose.yml
Owners: @kristi-balla, @Marcel510, @kunzef

[genai] Fix connection to recipe service
  genai/app/main.py
  genai/app/models/search_request.py
  genai/app/services/rag_service.py
Owners: @kunzef

:construction: wip: pin prometheus port
  infra/fridge/templates/deployments/embeddings.yml
Owners: @kristi-balla

fix: pick instance with better type and setup project
  infra/ec2/.terraform.lock.hcl
  infra/ec2/playbook.yml
  infra/ec2/terraform.tfstate
  infra/ec2/variables.tf
Owners: @kristi-balla

docs(aws): reference local files
  infra/ec2/playbook.yml
Owners: @kristi-balla

chore(aws): detach docker compose
  infra/ec2/playbook.yml
Owners: @kristi-balla

chore(aws): use proper ansible docker compose module
  infra/ec2/playbook.yml
Owners: @kristi-balla

chore(aws): change ci to reflect changes
  .github/workflows/aws.yml
Owners: @kristi-balla

chore(aws): change ci to reflect changes
  .github/workflows/teardown.yml
Owners: @kristi-balla

debug(aws): debug secrets
  .github/workflows/aws.yml
Owners: @kristi-balla

chore(aws): create genai .env file
  .github/workflows/aws.yml
Owners: @kristi-balla

chore(aws): put .env in correct path
  .github/workflows/aws.yml
Owners: @kristi-balla

chore(aws): setup summary with link
  .github/workflows/aws.yml
  infra/ec2/terraform.tfstate
Owners: @kristi-balla

chore(aws): make aws dns a url
  .github/workflows/aws.yml
Owners: @kristi-balla

chore(aws): do not overwrite file
  .github/workflows/aws.yml
Owners: @kristi-balla

fix(embeddings): increase allowed resource to prevent OOM
  infra/fridge/templates/deployments/embeddings.yml
Owners: @kristi-balla

:construction_worker: :bricks: chore(aws:) make aws deployment feasible (#74)
  .github/workflows/aws.yml
  .github/workflows/teardown.yml
  infra/ec2/.terraform.lock.hcl
  infra/ec2/playbook.yml
  infra/ec2/terraform.tfstate
  infra/ec2/variables.tf
Owners: @kristi-balla

chore(docs): add part about secrets for aws deployment
  README.md
Owners: @kristi-balla, @Marcel510, @kunzef
